@*Christine Jordan and Kelcee Chorba 12.1.2020
    REF: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow&fbclid=IwAR3MuqvykHgfcNAVDwszJPNSyy0SkPkPfN966kOFCr4eaE8d13OZL-kDzLI  *@
@model FoodWheelModel
@{
    var recipes = Model.Recipes.ToArray();
}


@*Meeting validation requirements for term project*@ 
<div>
    @if (Model.SignUp == null || !ViewData.ModelState.IsValid)
    {
        using (Html.BeginForm(FormMethod.Post))
        {
            <p>
                @Html.LabelFor(model => model.SignUp.Email)
                @Html.TextBoxFor(model => model.SignUp.Email)
                @Html.ValidationMessageFor(model => model.SignUp.Email)
                <input type="submit" value="Signup" class="btn btn-success" />
            </p>
        }
    }
    else
    {
        
        <div class="alert alert-dismissible alert-success">
            <strong>Thank You!</strong> You have successfully signed up!
        </div>
    }

    <h1>The Alchemy Kitchen</h1>
    <hr />
    <div class="slideshow-container">
        @*REFERENCE HERE!!:https://www.w3schools.com/bootstrap/bootstrap_carousel.asp*@
        @for (int i = 0; i < recipes.Length; i++)
        {
            <div class="foodwheel food-fade">
                <div class="numbertext">@($"{i + 1} / {recipes.Length}")</div>

                <a href="@Url.Action("Details", "Recipes", new {id=recipes[i].Id })">
                    <img src="@Url.Content(recipes[i].ImagePath)" style="width: 60%; margin: 0 20% 0 20%" ; height="200" width="200" alt="@recipes[i].Title">
                </a>
                <div class="text">@recipes[i].Title</div>
            </div>
            <a class="prev" style="margin-left:20%" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" style="margin-right:20%" onclick="plusSlides(1)">&#10095;</a>
        }
    </div>
    <br>
    <div id="introvideocontainer">
        <video id="introvideo"width="500" height="240" controls autoplay>
            <source src="~/videos/recipevideo.mp4" type="video/mp4"/>
            Your browser does not support this video!
        </video>
    </div>

    @*<div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>

        </div>*@


</div>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var slides = document.getElementsByClassName("foodwheel");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (var i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }
</script>