@*Christine Jordan and Kelcee Chorba 12.1.2020 W10 Team Project*@
@model IEnumerable<Recipes_FinalProject.Database.Entity.Recipe>

@{
    ViewData["Title"] = $"Available Recipes ({Model.Count()})";
}

<h1>@ViewData["Title"]</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
@using (Html.BeginForm())
{
    var searchModel = new SearchModel();
<p>
    Search by Dietary Needs: @Html.TextBox("model", searchModel.DietSearch)
    <input type="submit" value="Filter" class="btn btn-success" />
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yields)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yields)
            </td>
            <td>
                <img src="@Url.Content(item.ImagePath)" alt="Photo" class="img-fluid img-thumbnail" height="50" width="50"/>
            </td>
            <td>@Html.DisplayFor(modelItem => item.Diet)</td>
            <td></td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><span class="badge badge-pill badge-warning">Details</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
